.feature {
  @include list();

  margin-bottom: -30px;

  @include tablet {
    margin-left: -30px;
    @include createFlex(flex, null, null, wrap);
  }

  &__item {
    width: 100%;
    margin-bottom: 30px;

    @include tablet {
      width: calc((100% / 2) - 30px);
      margin-left: 30px;
    }

    @include desktop {
      width: calc((100% / 4) - 30px);
    }
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 10px;

    @include createFont(null, 14px, calc(16 / 14), 0.03em);

    text-align: center;
    text-transform: uppercase;
    color: var(--title-color);
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;

    @include createFont(null, 14px, calc(24 / 14), 0.03em);
  }

  &__ico {
    background-color: var(--team-bg-color);
    border-radius: 4px;
    height: 120px;
    margin-top: 0px;
    margin-bottom: 30px;

    @include createFlex();
  }
}
.section--feature {
  @include tablet-max {
    padding-bottom: 60px;
  }
}
