.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  background-color: var(--dark-bg-color);
  text-align: center;
  @include desktop {
    text-align: left;
  }

  &__data {
    @include desktop {
      @include createFlex(flex, space-between, null);
    }
  }

  &__left-middle {
    @include tablet {
      padding-left: 61px;
      padding-right: 74px;
      @include createFlex(flex, space-between, null);
    }
    @include desktop {
      padding-left: 0;
    }
  }

  &__left {
    @include createFont(null, 14px, calc(24 / 14), 0.03em);
    width: 100%;
    @include tablet {
      width: 232px;
    }
    @include desktop {
      margin-right: 70px;
    }
  }

  &__address {
    margin-top: 20px;
    margin-bottom: 0;

    font-style: normal;
    color: var(--footer-addr-color);
  }

  &__tel {
    transition: color var(--time) var(--function);

    margin-top: 8px;
    @include tablet {
      margin-top: 9px;
    }
    display: block;

    font-style: normal;
    color: var(--footer-tel-color);

    text-decoration: none;
  }

  &__tel:hover,
  &__tel:focus {
    color: var(--accent-color);
  }

  &__middle {
    margin-top: 57px;
    @include tablet {
      margin-top: 5px;
    }
    @include desktop {
      margin-top: 12px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;

    @include createFont(null, 14px, calc(16 / 14), 0.03em);

    text-transform: uppercase;

    color: var(--footer-addr-color);
  }

  &__right {
    margin-top: 60px;
    @include tablet {
      margin-left: 151px;
      margin-right: 137px;
    }

    @include desktop {
      margin-top: 12px;
      margin-left: 0;
      margin-right: 0;
      height: 86px;
    }
  }
}

.mailing-form {
  @include desktop {
    @include createFlex($cross: flex-start);
  }
  &__input {
    width: 100%;
    @include tablet {
      width: 450px;
    }
    @include desktop {
      width: 358px;
    }
    height: 50px;

    margin-bottom: 20px;
    @include desktop {
      margin: 0 12px 0 0;
    }
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--btn-text-color);
    font: inherit;
  }

  &__input::placeholder {
    @include createFont(null, 16px, calc(20 / 16), 0.03em);

    color: rgba(255, 255, 255, 0.6);
  }

  &__key {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__ico {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 10px;
  }
}
