.mob-menu.is-hidden {
  display: none;
}

.mob-menu__close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--modal-bg-color);
  width: 100vw;
  height: 100vh;
  color: var(--modal-color);

  .container {
    overflow-y: auto;
    flex-direction: column;
    height: 100%;
    @include createFlex(flex, space-between, flex-start);
    padding-left: 40px;
  }
}

.mob-menu__top {
  width: 100%;
}

.mob-menu__list {
  @include list();
  margin-top: 48px;
}

.mob-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu__link {
  text-decoration: none;

  color: #212121;

  @include createFont(500, null, null, 0.02em);
}

.mob-menu__link {
  display: block;
  margin-bottom: 32px;
}

.mob-menu__link--main {
  @include createFont(null, 40px, calc(47 / 40), null);
  // margin-bottom: 32px;
}

.mob-menu__link--soc {
  @include createFont(null, 18px, calc(22 / 18), null);
  margin-bottom: 0;
}

.mob-menu__link--tel {
  @include createFont(null, 34px, calc(40 / 34), null);
  color: var(--main-color);
}

.mob-menu__link--email {
  @include createFont(null, 24px, calc(28 / 24), null);
  margin-bottom: 64px;
  color: var(--main-color);
}

.mob-menu__link--current {
  color: var(--accent-color);
}

.mob-menu__connect {
  margin-bottom: 64px;
}

.mob-menu__soc-list {
  @include list();
  @include createFlex(flex, flex-start, null, wrap);
  margin-bottom: 48px;
}

.mob-menu__link--soc {
  @include createFont(500, 18px, calc(22 / 18), 0.02em);
  color: var(--main-color);
  padding-top: 2px;
  padding-bottom: 2px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-menu__link--soc-instagram {
  padding-left: 0;
  padding-right: 10px;
}

.mob-menu__link--soc-twitter,
.mob-menu__link--soc-facebook {
  padding-left: 10px;
  padding-right: 10px;
}

.mob-menu__link--soc-linkedin {
  padding-left: 10px;
  padding-right: 0;
  border-right: 0;
}

.mob-menu__close-btn,
.header__open-btn {
  @include mobile-max {
    appearance: none;
    margin-left: auto;
    margin-top: 10px;
    padding: 0;
    background-color: transparent;
    fill: var(--ico-close-color);
    border: 0;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  @include tablet {
    display: none;
  }
}
