.projects {
  @include list();

  margin-bottom: 60px;
  @include tablet {
    @include createFlex(flex, null, null, wrap);
  }
  @include desktop {
    margin-bottom: 94px;
  }

  &__item {
    box-shadow: none;
    transition: box-shadow var(--time) var(--function);
    border: 1px solid var(--border-color);

    width: 100%;
    @include tablet {
      width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 60px) / 3);
    }

    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    @include tablet-only {
      &:nth-child(odd) {
        margin-right: 30px;
      }
    }

    @include desktop {
      margin-right: 30px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform var(--time) var(--function);
  }

  &__text {
    margin: 0 auto;
    padding: 63px 23px;
    color: var(--main-bg-color);
    @include createFont(null, 18px, calc(28 / 18), 0.03em);
  }

  &__data {
    padding: 20px 24px;
  }

  &__title {
    margin: 0;

    @include createFont(null, 18px, calc(36 / 18), 0.06em);

    color: var(--title-color);
  }

  &__filter {
    margin: 4px 0 0 0;

    @include createFont(null, 16px, calc(30 / 16), 0.03em);
  }

  &__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__item:hover &__overlay {
    transform: translateY(0);
  }
}
