.team-list {
  @include list();

  margin-bottom: -30px;

  @include tablet {
    margin-left: -30px;
    @include createFlex(flex, null, null, wrap);
  }

  &__item {
    width: 100%;
    margin-bottom: 30px;

    border-radius: 0px 0px 4px 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    @include tablet {
      width: calc((100% / 2) - 30px);
      margin-left: 30px;
    }

    @include desktop {
      width: calc((100% / 4) - 30px);
    }
  }
}

.team {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
  background-color: var(--team-card-color);

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    @include createFont(500, 16px, calc(19 / 16), 0.03em);

    text-align: center;
    color: var(--title-color);
  }

  &__text {
    @include createFont(null, 16px, calc(19 / 16), 0.03em);

    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
  }
}

.section--team {
  padding-bottom: 94px;
  background-color: var(--team-bg-color);
}
