.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  transition: opacity var(--time) var(--function), visibility var(--time) var(--function);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 450px;

  @include mobile-only {
    min-width: calc(100% - 30px);
  }
  @include desktop {
    min-width: 528px;
  }
  // min-height: 609px;
  background-color: var(--modal-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time) var(--function);

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);

    @include createFlex();

    fill: var(--ico-close-color);
    background-color: transparent;
    transition: fill var(--time) var(--function);
  }

  //  &__close-btn:focus {
  //   border-color: var(--accent-color);
  //   color: var(--accent-color);
  // }

  &__close-btn:hover {
    fill: var(--accent-color);
  }

  &__caption {
    margin: 40px 40px 0 40px;
    text-align: center;
    color: var(--title-color);
    @include createFont(700, 20px, calc(30 / 20), 0.03em);
    @include desktop {
      line-height: 1.15;
    }
  }
}

.modal-form {
  width: calc(100% - 80px);
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;

  @include createFont(null, 14px, calc(16 / 14), 0.01em);

  &__field {
    position: relative;
    margin-bottom: 10px;
  }

  &__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;

    color: val(--main-color);
  }

  &__input-and-icon {
    position: relative;
  }

  &__input {
    width: 100%;
    margin: 0;
    padding: 12px 12px 12px 42px;

    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--time) var(--function);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    height: 18px;

    transform: translateY(-50%);
    transition: fill var(--time) var(--function);
  }

  &__comment:focus,
  &__input:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &__input:focus + &__icon {
    fill: var(--accent-color);
  }

  &__comment {
    width: 100%;
    margin: 0;
    padding: 12px 16px;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    resize: none;
    transition: border-color var(--time) var(--function);
  }

  .modal-form-field textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.agreement {
  position: relative;
  display: flex;
  align-items: center;

  margin-top: 20px;

  &__checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  &__icon {
    position: relative;
    min-width: 16px;
    height: 15px;

    margin-left: 0;
    @include desktop {
      margin-left: 13px;
    }
    margin-right: 8px;

    border: 2px solid var(--title-color);
    border-radius: 2px;

    transition: border-color var(--time) var(--function);
  }

  &__svg {
    position: absolute;
    top: -3px;
    opacity: 0;
    transition: opacity var(--time) var(--function);
  }

  &__checkbox:checked + &__icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
  }

  &__checkbox:focus + &__icon {
    box-shadow: 0 0 0 2px var(--modal-bg-color), 0 0 0 3px var(--accent-color);
  }

  &__checkbox:checked + &__icon > &__svg {
    opacity: 1;
  }

  &__label {
    @include createFont(null, 12px, calc(14 / 12), 0.03em);
    @include desktop {
      font-size: 14px;
      line-height: 1.71;
    }
    color: var(--main-color);
  }

  &__link {
    color: var(--accent-color);
    outline-color: var(--accent-color);
  }
}

.btn--margin {
  margin-top: 30px;
  margin-left: calc(50% - 100px);
  // margin-left: 123px;
  margin-bottom: 40px;
  min-width: 200px;
}
