.section {
  padding-top: 60px;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    @include desktop {
      margin-bottom: 50px;
    }

    @include createFont(null, 28px, calc(33 / 28), 0.03em);
    @include tablet {
      @include createFont(null, 36px, calc(42 / 36), null);
    }

    text-align: center;

    color: var(--title-color);
  }

  &--padding-bottom {
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 94px;
    &--padding-bottom {
      padding-bottom: 94px;
    }
  }
}
