.section {
  padding-top: 60px;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    @include createFont(null, 36px, calc(42 / 36), 0.03em);
    text-align: center;

    color: var(--title-color);
  }

  &--padding-bottom {
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 94px;
    &--padding-bottom {
      padding-bottom: 94px;
    }
  }
}
