.soc-list {
  @include list();
  @include createFlex();

  &__item + &__item {
    margin-left: 10px;
  }

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @include createFlex();
  }

  &__link--team {
    transition: fill var(--time) var(--function), background-color var(--time) var(--function);

    background-color: var(--team-card-color);
    fill: var(--logo-color);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      fill: var(--team-card-color);
    }
  }

  &__link--footer {
    transition: background-color var(--time) var(--function);

    background-color: var(--join-bg-color);
    fill: var(--footer-addr-color);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}
