.webstudio {
  font-family: 'Raleway', Tahoma, sans-serif;
  @include createFont(700, 24px, calc(28 / 24), 0.03em);
  @include desktop {
    @include createFont(null, 26px, calc(31 / 26), null);
  }
  text-decoration: none;

  &--header {
    padding-top: 16px;
    padding-bottom: 16px;
    @include tablet {
      padding-top: 26px;
      padding-bottom: 26px;
    }

    color: var(--webstudio-header-color);
  }

  &--footer {
    color: var(--webstudio-footer-color);
  }

  &__span {
    color: var(--accent-color);
  }
}
