.webstudio {
  font-family: 'Raleway', Tahoma, sans-serif;
  @include createFont(700, 24px, 1.16, 0.03em);
  @include desktop {
    @include createFont(null, 26px, 1.19, null);
  }
  text-decoration: none;

  &--header {
    padding-top: 24px;
    padding-bottom: 25px;

    color: $webstudio-header-color;
  }

  &--footer {
    color: $webstudio-footer-color;
  }

  &__span {
    color: $accent-color;
  }
}
